
<div class="card border-warning mb-3" id="message_<%= message.id %>" >

  <div class="card-header d-flex <%= message.user == current_user ? 'bg-primary' : 'bg-success' %> text-white">
    <%= message.user == current_user ? "You" : message.user.username %>:
   <% if can? :destroy, message %>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        ...
      </button>
      <ul class="dropdown-menu ">
        <li><%= button_to 'Delete',conversation_message_path(message.conversation_id, message), method: :delete, remote: true, class: 'dropdown-item'%></li>
      </ul>
    </div>
    <% end %>
  </div>


  <div class="card-body">
    <p><strong><%= message.content %></strong></p>
  </div>

  <footer>
    <small><%= message.created_at.strftime("%I:%M %p") %></small>
  </footer>
</div>
