<tr>
     <td> <%= user.username %> </td>
     <td> <%= user.email %> </td>
     <td> <%= button_to 'Chat', chat_path(user) %> </td>
     <% if (conversation = current_user.conversations.find_by(id: user.conversations.pluck(:id))) %>
    <td>  sent : <%=  sent_count = conversation.sender_messages_count(current_user)%> </td>
     <%  total = conversation.messages_count.to_i %>
    <td>  received:  <%= total  - sent_count  %>  </td>
    <% end %>
</tr>
