<!DOCTYPE html>
<html>
  <head>
    <title>WeChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    body {
      padding-top: 80px;
    <% if controller_name == 'conversations' %>
      padding-bottom: 100px
    <% end %>
    }


  </head>

  <body>
<!--    rendering header partial-->
  <%= render 'common/header' %>
  <div class="container-fluid mt-5 ">

    <!--     flash messages-->
    <% if notice %>
      <p class = "alert alert-success alert-dismissible">
        <%= notice %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </p>
    <% end %>
    <% if alert %>
      <p class = "alert alert-danger alert-dismissible ">
        <%= alert %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </p>
    <% end %>

    <%= yield %>
  </div>
  </body>
</html>
